[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://gitlab-ci-token:${CI_JOB_TOKEN}@git.naspersclassifieds.com/api/v4/projects/41581/packages/pypi/simple"
verify_ssl = true
name = "olx-pypi"

[packages]
# Django core
django = "==5.2.1"
gunicorn = "==23.0.0"
whitenoise = "==6.7.0"

# Database
psycopg = {extras = ["binary", "pool"], version = "==3.2.1"}

# Observability
structlog = "==24.2.0"
newrelic = "==9.11.0"
sentry-sdk = {extras = ["django"], version = "==2.7.1"}
python-otel = {version = "*", index = "olx-pypi"}

# Auth
mozilla-django-oidc = "==4.0.1"

# Utils
python-dotenv = "==1.0.0"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
ruff = "*"

[requires]
python_version = "3.11"
